/*Color set:
#0b0c10 - primary background
#1f2833 - dark background
#c5c6c7 - p text grey
#66fcf1 - highlight green
#45a29e - link
#BA274A - highlight contrast
*/

/*Top level styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

html {
    scroll-behavior: smooth;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

body {
    color: #a0a0a0;
}

div {
   
}
h1 {
    color: #66fcf1;
    font-size: 2rem;
}

h2 {
    color: #ba274a;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

h3 {
    color: #0b0c10;
    font-size: 1.5rem;
}

p {
    color: #c5c6c7;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #ba27fa;
}

/* Setting up css grid */
.wrapper {
    display: grid;
    max-width: 100%;
    grid-template-areas:
        'hero'
        'skills'
        'portf'
        'about'
        'footer';
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
/*Navigation styles*/


#menuToggle
{
  display: block;
  position: fixed;
    justify-content: center;
  top: 50px;
  left: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: -7px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #45a29e;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
 animation-name: visible;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    /*This animation is to prevent it's initial appearance before moving off to the side*/
    position: absolute;
  width: 300px;
  margin-top: -75px;
    margin-left: -50px;
  padding: 50px;
  padding-top: 125px;
  background: #0b0c10;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-200%, 0);

  transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
    
}

@keyframes visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

#menu li
{
  padding: 5px 0;
  font-size: 2rem;
    color: #fff;
}

#menu li:hover {
    color: #45a29e;
    text-decoration: underline;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
    visibility: visible;
}

/*Banner styling*/
.hero {
    grid-area: hero;
    background-image: url(Images/spacebackground.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;;
    align-items: center;
}

.header_overlay {
    width: 70%;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
}
.header_button {
    font-size: 1.4rem;
    border-radius: 5px;
    border: 3px solid #fff;
    text-align: center;
    margin: 2rem;
    padding: 1.5rem;
    background-color: transparent;
    color: #fff;
    transform: translate(0%, 600%);
    opacity: 0;
    animation: rise;
    animation-delay: 0.3s;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes rise {
    from {transform: translate(0%, 600%); opacity: 0;}
    to {transform: translate(0%, 0%); opacity: 1;}
}

.header_button:hover {
    color: #fff;
    background-color: transparent;
    border: 3px solid #BA274A;
    cursor: pointer;
}


.head_text span {
 color: #ba274a;
}


.flash {
    color: #BA274A;
    opacity: 0;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}
@keyframes flash {
    from {opacity: 0;}
    to {opacity: 1;}
}

.head_button {
    margin: 0px auto;
    text-align: center;
}


.header_button span {
    color: #BA274A;
    font-weight: bold;
}

/*Skills section*/
.skills {
    grid-area: skills;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    background-color: #0b0c10;
    padding: 2rem;
}

/*Section styling*/
.section_headline {
    width: 100%;
    justify-content: center;
    text-align:center;
    flex: 0 1 auto;
    margin-bottom: 2rem;
}

.section_card {
    justify-content: space-around;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 10px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}


.section_card img {
    width: 64px;
 /*   border-radius: 10px;
    border: 3px solid white;
background-color: #66fcf1;*/
}


.section_card h3 {
        color: #fff;
    margin-bottom: 15px;
}

.section_card p {

}


.section_copy {
    padding: 20px;
    text-align: center;
}

/*Portfolio styles*/
.portfolio {
    grid-area: portf;
     display: flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: #1f2833;
    padding: 2rem;
}

/*Inidividual project Images & styles*/


.pro1 {
    background-image: url(Images/notepad600.jpg);
   background-size: cover;
    background-repeat: no-repeat;
}

.pro2 {
    background-image: url(Images/analyticslaptop600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pro3 {
    background-image: url(Images/skyscapers1200.jpg);
  background-size: cover;
    background-repeat: no-repeat;
}

.pro4 {
    background-image: url(Images/notepad600.jpg);
   background-size: cover;
    background-repeat: no-repeat;
}

.pro5 {
    background-image: url(Images/javascriptimg600.jpg);
   background-size: cover;
    background-repeat: no-repeat;
}

.pro6 {
    background-image: url(Images/analyticslaptop600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio_card {
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 300px;
    height: 250px;
    overflow: scroll;
}

.portfolio_card:hover {
    background: #0b0c10;
}

.portfolio_card h3 {
    text-align: center;
    margin: 0.2rem auto;
    padding: 10px;
   visibility:hidden;
        color: #66fcf1;
    width: 100%;
}

.portfolio_card:hover h3 {
    visibility: visible;
}

.portfolio_card p {
    padding: 5px 25px;
    color: #fff;
    width: 100%;
    visibility: hidden;
    margin-bottom: 0.5rem;

}

.portfolio_card:hover p {
    visibility: visible;
    color: #fff
}

.port_button {
    visibility: hidden;

}

.portfolio_card:hover .port_button{
    visibility: visible;
   font-size: 1rem;
    width: 50%;
    margin:0 25%;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #BA274A;
    color: #BA274A;
	background: #0b0c10;
}

#button:hover {
	background: #ba274a;
	color: #fff;
	border: 2px solid #fff;
}

/*About styles*/
.about {
    grid-area: about;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1f2833;
    padding: 0 1rem;
}

.aboutxt {
    grid-area: aboutxt;
    width: 650px;
    margin: 2rem auto;
}

.about h2 {
    text-align: center;
}

.contact {
    grid-area: contact;
  width: 70%;
    padding: 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #fff;
	margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
/*Footer styles*/
.footer {
    grid-area: footer;
    display: inline-flex;
    height: 100px;
    background-color: #0b0c10;
    justify-content: space-between;
    flex-wrap:wrap-reverse;
    padding: 20px 40px;
}

.cw {
    margin: 0 1rem;
    flex: 0 1 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.cw p {
    font-size: 0.9rem;
}

.sw {
    display: inline-flex;
    flex-wrap: wrap;
}

.social {
    flex: 0 1 auto;
    margin: 0 1rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.social img {
    width: 3rem;
}



/*Form styling*/
form {
  /* Just to center the form on the page */
  margin: 2rem auto;
  width: 100%;
  /* To see the outline of the form */
  border-radius: 1em;
}

form div + div {
  margin-top: 1rem;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 100px;
  text-align: center;
    color: #000;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1.5rem;

  /* To give the same size to all text fields */
  width: 70%;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #000;
    border-radius: 5px;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5rem;
}

form .button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

form button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 1rem;
    padding: 5px;
    border: 1px solid #BA274A;
    border-radius: 5px;
}

form button:hover {
    color: #fff;
    border: 1px solid #fff;
    background: #ba274a;
        cursor: pointer;
}


/*large screen styles*/

@media only screen and (min-width: 600px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .header_button, .header_button span {
    font-size: 1.7rem;   
 
}
    
.wrapper {
    display: grid;
    width: 100%;
    grid-template-areas:
        'nav nav nav'
        'hero hero hero'
        'skills skills skills'
        'portf portf portf'
        'about about about'
        'footer footer footer';
  grid-template-columns: auto;
    grid-template-rows: auto;
    }

    .hero {
    height: 100vh;
        width: 100vw;
}


	.about {
		padding: 0 5rem;
	}

	.portolio {
		padding: 5rem;
	}

	.skills {
		padding: 5rem;
	}

    .portfolio_card {
    width: 450px;
    height: 300px;
    overflow: scroll;
}

    .portfolio_card h3 {
    margin: 0.75rem auto;
}


.portfolio_card p {
    margin-bottom: 1.2rem;

}


.portfolio_card:hover .port_button{
   font-size: 1.2rem;


}
}











