/*Color set:
#0b0c10 - primary background
#1f2833 - dark background
#c5c6c7 - p text grey
#66fcf1 - highlight green
#45a29e - link
#BA274A - highlight contrast
*/

/*Top level styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

body {
    color: #a0a0a0;
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
    height: 100%;

}

div {
   
}
h1 {
    color: #66fcf1;
    font-size: 2rem;
}

h2 {
    color: #ba274a;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

h3 {
    color: #0b0c10;
    font-size: 1.5rem;
}

p {
    color: #c5c6c7;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #ba27fa;
}



/*Navigation styles*/


#menuToggle
{
  display: block;
  position: fixed;
    justify-content: center;
  top: 50px;
  left: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: -7px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #fff;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #45a29e;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)

{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
 animation-name: visible;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    /*This animation is to prevent it's initial appearance before moving off to the side*/
    position: absolute;
  width: 300px;
    height:100vh;
  margin-top: -75px;
    margin-left: -50px;
  padding: 50px;
  padding-top: 125px;
  background: #0b0c10;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-200%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    
}

@keyframes visible {
    from {opacity: 0;}
    to {opacity: 1;}
}

#menu li
{
  padding: 5px 0;
  font-size: 2rem;
    color: #fff;
}

#menu li:hover {
    color: #45a29e;
    text-decoration: underline;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
    visibility: visible;
}

/*Banner styling*/
.hero {
    position: relative;
    display:block;
    margin-bottom: -4px !important;
    overflow: hidden;
}

.header_overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}
.header_button {
    font-size: 1.4rem;
    border-radius: 5px;
    border: 3px solid #ba274a;
    text-align: center;
    margin: 4rem;
    padding: 1.5rem;
    background-color: transparent;
    color: #fff;
    background-color: #ba274a;
    transform: translate(0%, 600%);
    opacity: 0;
    animation: rise;
    animation-delay: 0.3s;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes rise {
    from {transform: translate(0%, 600%); opacity: 0;}
    to {transform: translate(0%, 0%); opacity: 1;}
}

.header_button:hover {
    color: #fff;
    border: 3px solid #fff;
    cursor: pointer;
}


.head_text span {
 color: #ba274a;
}


.flash {
    color: #fff;
    opacity: 0;
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
}
@keyframes flash {
    from {opacity: 0;}
    to {opacity: 1;}
}

.head_button {
    margin: 0px auto;
    text-align: center;
}


.header_button span {
    color: #fff;
    font-weight: bold;
}

/*Skills section*/
.skills {
    background-color: #0b0c10;
    padding: 2rem;
}

/*Section styling*/
.section_headline {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    margin-bottom: 2rem;
}

.section_card {
    vertical-align: top;
    padding: 2rem;
    width: 33rem;
    height: 20rem;
    background-color: #3c2c30;
    border: 2px solid #fff;
     position: relative;
    margin: 2rem auto;
}


.section_image {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.section_image img {
    width: 4rem;
}

.section_card h3 {
        color: #fff;
    margin-bottom: 15px;
}



.section_copy {
    padding: 20px;
    text-align: center;
}

/*Portfolio styles*/
.portfolio {
    background-color: #1f2833;
    padding: 2rem;
}

/*Inidividual project Images & styles*/
.portfolio_card {
    overflow: scroll;
    vertical-align: top;
    width: 33rem;
    position: relative;
    margin: 2rem auto;
    text-align: center;

}

.portfolio_card:hover {
    opacity: 1;
    background: #0b0c10;
     animation-name: reveal;
    animation-duration: 1s;
    animation-direction: forwards;
    animation-iteration-count: 1;
}

@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1;}
}

.portfolio_card h3 {
    text-align: center;
    margin: 0.2rem auto;
    padding: 10px;
   visibility:hidden;
        color: #66fcf1;
    width: 100%;
}

.portfolio_card:hover h3 {
    visibility: visible;
}

.portfolio_card p {
    padding: 5px 25px;
    color: #fff;
    width: 100%;
    visibility: hidden;
    margin-bottom: 0.5rem;

}

.portfolio_card:hover p {
    visibility: visible;
    color: #fff
}

.port_button {
    visibility: hidden;
    vertical-align: bottom;
  

}

.portfolio_card:hover .port_button{
    visibility: visible;
   font-size: 1rem;
    width: 50%;
  position: relative;
    top: 2rem;
    cursor: pointer;
    padding: 5px;
    border: 2px solid #BA274A;
    color: #BA274A;
	background: #0b0c10;
    display:inline-block;
    
}

#button:hover {
	background: #ba274a;
	color: #fff;
	border: 2px solid #fff;
}



.pro1 {
    background-image: url(Images/portfolio/Triathlon%20home%20thumb.png);
   background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.pro2 {
    background-image: url(Images/portfolio/Presque-Vu-Home-thumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        height: 300px;
}

.pro0 {
    background-image: url(Images/portfolio/Planning-Hub.jpg);
  background-size: cover;
    background-repeat: no-repeat;
        height: 300px;
}




/*About styles*/
.about {
width: 100%;
    background-color: #0b0c10;
    padding: 2rem 5rem;
}

.aboutxt {
margin-bottom: 3rem;
    font-size: 1rem;
}

.about h2 {
    text-align: center;
}

.contact {
margin-bottom: 3rem;
    font-size: 1rem;
}


.sw {
    text-align: center;
}

.social {
display: inline-block;
margin: 2rem 3rem;

}

.social img {
width: 4rem;
}


/*Footer styles*/
.footer {
width: 100%;
    background-color: #0b0c10;
    text-align: center;
    height: 2rem;
}



/*tablet screen styles*/
@media screen and (min-width: 680px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    .header_button, .header_button span {
    font-size: 1.4rem;   
 
}
    
    .banner {
width:100vw;
    }

.section_row{
width: 100%;
    position: relative;
    margin:0 auto;
    text-align: center;
        
}
    
    .section_card {
    width: 25rem;
    height: 21rem;
    margin: 1rem 2rem;
display: inline-block;
}

    .portfolio {
        width: 100%;
        text-align: center;
    }

    .portfolio_card {
            display: inline-block;
        margin: 1rem 1rem;
        width: 25rem;
        text-align: center;
    }

/*About styles*/
.about {
width: 100%;
    background-color: #0b0c10;
    padding: 2rem 8rem;
    display: inline-block;
}

.aboutxt {
margin-bottom: 3rem;
    font-size: 1rem;
    padding: 0rem 5rem;
    width: 50%;
    float:left;
}

.about h2 {
    text-align: center;
}

.contact {
margin-bottom: 3rem;
    font-size: 1rem;
    padding: 0rem 5rem;
    width: 50%;
    float: right;
}


.sw {
    text-align: center;
}

.social {
display: inline-block;
margin: 1rem 1.5rem;

}

.social img {
width: 3rem;
}



/*large screen styles

@media only screen and (min-width: 800px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    .header_button, .header_button span {
    font-size: 1.7rem;   
 
}
    

    .hero {
    height: 100vh;
        width: 100vw;
}


	.about {
		padding: 0 5rem;
	}

	.portolio {
		padding: 5rem;
	}

	.skills {
		padding: 5rem;
	}

    .portfolio_card {
    width: 450px;
    overflow: scroll;
        margin: 0;
}

    .portfolio_card h3 {
    margin: 0.75rem auto;
}


.portfolio_card p {
    margin-bottom: 1.2rem;

}


.portfolio_card:hover .port_button{
   font-size: 1.2rem;
}

    .about {
        padding: 0 2rem;
    }
.aboutxt, .contact {
        width: 45%;
    }

}

*/
















